{% extends 'index.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
{% block hero %}
<div class="jumbotron">
        <!-- Carousel
      ================================================== -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          <div class="item img1">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{custom_theme.jumbotron_welcome_title|default:_("Welcome in ONSDI")}}</h1>
                    <p></p>
                    <p>{{custom_theme.jumbotron_welcome_content|default:_("Mauritius Open National Spatial Data Infrastructures.")}}</p>
              </div>
            </div>
          </div>
          <div class="item img2 active">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{custom_theme.jumbotron_welcome_title|default:_("Geospatial Data Portal ")}}</h1>
                <p></p>
                <p>{{custom_theme.jumbotron_welcome_content|default:_("ONSDI allow access to spatial data catalog in Mauritius.")}}</p>
              </div>
            </div>
          </div>
          <div class="item img3">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{custom_theme.jumbotron_welcome_title|default:_("Create Maps")}}</h1>
                <p></p>
                <p>{{custom_theme.jumbotron_welcome_content|default:_("With ONSDI, create and custom maps from existing layers without using a GIS software.")}}</p>
              </div>
            </div>
          </div>
          <div class="item img4">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{custom_theme.jumbotron_welcome_title|default:_("Download Data")}}</h1>
                <p></p>
                <p>{{custom_theme.jumbotron_welcome_content|default:_("Download layers, maps, documents and feel free to reuse them.")}}</p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->

</div>
{% endblock hero %}

{% block bigsearch %}

{% endblock bigsearch %}
{% block datasets %}
{% endblock datasets %}

{% block showcase %}
      <section id="showcase">
        <div class="row">
          <div class="container text-center" style="width:80%">
            <div class="row home-facets">
            {% with facet_type='home' %}
             {% facets as facets %}
              <div class="col-md-4">
                <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
                <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
                <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
                {% if user.is_authenticated %}
                <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
                {% else %}
                <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
                {% endif %}
              </div>
              <div class="col-md-4">
                <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-4x"></i></a></p>
                <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
                <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be saved, downloaded, shared publicly or restricted to specify users only." %}</p>
                {% if user.is_authenticated %}
                <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
                {% else %}
                <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
                {% endif %}
              </div>
              <div class="col-md-4">
                <p><a href="{% url "document_browse" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</a></h2>
                <p>{% trans "As for the layers and maps GeoNode allows to publish tabular and text data, manage theirs metadata and associated documents." %}</p>
                {% if user.is_authenticated %}
                <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Add documents" %} &raquo;</a></p>
                {% else %}
                <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Explore documents" %} &raquo;</a></p>
                {% endif %}
              </div>
            {% endwith %}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="container text-center">
                {% verbatim %}
                <div ng-app="featured">
                  <div ng-repeat="item in featured | limitTo:4">
                    <div class="col-md-3">
                      <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
                      <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
                    </div>
                  </div>
                </div>
          		{% endverbatim %}
            </div>
        </div>
      </section>
      {% endblock showcase %}
